@import "./reset.css";
@import "./common.css";

#wrap {
  min-width: 1340px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1280px;
  height: 215px;
  margin: 0 auto;
}

#header .group-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 52px;
}
#header .search-area {
  display: flex;
  width: 706px;
  border: 1px solid #03c75a;
  border-radius: 33px;
  background-color: #fff;
}
#header .search-area .logo {
}
#header .search-area .logo a {
  display: block;
  padding: 17px 16px 17px 27px;
}
#header .search-area .logo svg {
  width: 24px;
  height: 24px;
  fill: #03c75a;
}

#header .search-area .search-form {
  flex: 1;
}
#header .search-area .search-inner {
  display: flex;
  height: 100%;
}
#header .search-area .input-text {
  flex: 1;
  outline: none;
  border: 0;

  color: #000;
  color: var(--color_search);
  padding: 17px 0;
  background-color: rgba(0, 0, 0, 0);
  font-size: 2rem;
  line-height: 24px;
  font-weight: bold;
}
#header .search-area .btn-keyboard {
  padding: 22px 3px;
}
#header .search-area .btn-keyboard::after {
  display: block;
  content: "";
  width: 24px;
  height: 14px;
  background-position: -148px -301px;
}
#header .search-area .btn-auto {
  padding: 26px 6px;
}
#header .search-area .btn-auto::after {
  display: block;
  content: "";
  width: 10px;
  height: 6px;
  background-position: -453px -422px;
}
#header .search-area .btn-submit {
  padding: 17px 27px 16px 10px;
}
#header .search-area .btn-submit svg {
  width: 25px;
  height: 25px;
}

/* 공통 */
#header .nav-area {
  margin-top: 8px;
}
#header .nav-area .nav-list {
  display: flex;
  justify-content: center;
}
#header .nav-area .nav-item {
  width: 64px;
}
#header .nav-area .nav-item + .nav-item {
  margin-left: -3px;
}
#header .nav-area a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header .nav-area .icon {
  position: relative;
  width: 44px;
  height: 44px;
}
#header .nav-area .icon::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -3px;
  background-position: -153px -142px;
  width: 50px;
  height: 50px;
}
#header .nav-area .icon::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#header .nav-area .name {
}

/* 개별 */
#header .nav-area .ic-mail::after {
  background-position: -205px -219px;
}
#header .nav-area .ic-cafe::after {
  background-position: -41px -219px;
}
#header .nav-area .ic-blog::after {
  background-position: 0px -219px;
}
#header .nav-area .ic-shopping::after {
  background-position: -41px -260px;
}
#header .nav-area .ic-news::after {
  background-position: -270px -205px;
}
#header .nav-area .ic-stock::after {
  background-position: -123px -260px;
}
#header .nav-area .ic-real::after {
  background-position: 0px -260px;
}
#header .nav-area .ic-map::after {
  background-position: -270px 0px;
}
#header .nav-area .ic-webtoon::after {
  background-position: -164px -260px;
}
#header .nav-area .ic-live::after {
  background-image: url("https://s.pstatic.net/static/www/mobile/edit/20240112_1095/upload_1705057885416AaxUM.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#header .nav-area .ic-more::after {
  background-position: -270px -164px;
}

#header .util-area {
  display: flex;
}
#header .util-area [class*="btn-"] {
  padding: 8px;
}
#header .util-area [class*="btn-"]::after {
  width: 32px;
  height: 32px;
  content: "";
  display: block;
}
#header .util-area .btn-menu::after {
  background-position: -311px -151px;
}
#header .util-area .btn-pay::after {
  background-position: 0px -318px;
}
#header .util-area .btn-talk::after {
  background-position: -132px -318px;
}
#header .util-area .btn-alert::after {
  background-position: -311px -217px;
}
#header .util-area .btn-cart::after {
  background-position: -66px -318px;
}

#footer {
  border-top: 1px solid var(--color_border_in_divider);
  background-color: #f5f6f7;
}
#footer .area-line {
  border-bottom: 1px solid var(--color_border_in_divider);
  overflow: hidden;
}
#footer .area-line:hover {
  /* text-decoration: underline; */
}
#footer h3 {
  display: block;
  font-weight: bold;
}
#footer strong {
  font-weight: bolder;
}
#footer .footer-wrap {
  width: 1280px;
  margin: 0 auto;
  padding-bottom: 78px;
  font-size: 1.3rem;
}

#footer .banner-area {
  overflow: hidden;
  padding: 30px 0;
}
#footer .banner-area .banner-list {
  display: flex;
}
#footer .banner-area .banner-item {
  flex: 1;
}
#footer .banner-area .banner-item a {
  display: flex;
}

#footer .banner-area .banner-item img {
  width: 160px;
  height: 100px;
  border-radius: 6px;
}

#footer .banner-area .content-box {
  overflow: hidden;
  padding: 5px 3px 0 18px;
}
#footer .banner-area .content-box .sub-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20px;
  max-width: 141px;
  padding: 0 6px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.25px;
  vertical-align: top;
  color: #fff;
  background-color: #a0adb2;
}
#footer .banner-area .content-box .main-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin: 10px 0 6px 0;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: -0.25px;
  color: #222122;
}
#footer .banner-area .content-box .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.25px;
  color: #545454;
}

#footer .notice-area {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 21px 0;
  line-height: 17px;
  justify-content: space-between;
}
#footer .notice-area .svc-all {
  font-weight: bold;
}
#footer .notice-area .svc-all::after {
  content: "";
  display: inline-block;
  background-position: -457px -275px;
  width: 8px;
  height: 12px;
  margin: 3px 0 0 10px;
  vertical-align: top;
}

#footer .service-area {
  padding: 20px 0;
}
#footer .service-area .common-box {
  line-height: 20px;
}
#footer .service-area .common-box h3 {
  width: 87px;
  padding-right: 9px;
  float: left;
}

#footer .service-area .left {
  float: left;
}
#footer .service-area .left .partners-box {
}
#footer .service-area .left .developers-box {
  margin-top: 10px;
}
#footer .service-area .left .box-list {
  display: flex;
}
#footer .service-area .left a {
  color: #404040;
  color: var(--color_caption1);
}
#footer .service-area .left a:hover {
  text-decoration: underline;
}
#footer .service-area .left .box-item + .box-item::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 0 10px;
  vertical-align: -1px;
}

#footer .service-area .right {
  float: right;
  padding: 21px 0;
}
#footer .service-area .right .site-wrap {
  display: flex;
}
#footer .service-area .right .site-box {
  display: flex;
  flex-direction: row-reverse;
}
#footer .service-area .right .site-box + .site-box {
  margin-left: 30px;
}
#footer .service-area .right .site-link {
}
#footer .service-area .right .site-link img {
  width: 48px;
  margin-left: 11px;
  height: 48px;
}
#footer .service-area .right .site-info {
  overflow: hidden;
  margin-top: 5px;
}
#footer .service-area .right .site-info strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
#footer .service-area .right .go-site:hover {
  text-decoration: underline;
}
#footer .service-area .right .go-site {
  padding-top: 5px;
  display: block;
  color: #404040;
  color: var(--color_caption1);
}

#footer .corp-area {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  line-height: 20px;
}
#footer .corp-area .corp-list {
  display: flex;
}
#footer .corp-area .corp-item {
}
#footer .corp-area .corp-item + .corp-item::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #d3d5d7;
  background-color: var(--color_dot_divider);
  margin: 0 10px;
  vertical-align: -1px;
}
#footer .corp-area .corp-item a:hover {
  text-decoration: underline;
}
